form {
  margin: auto;
  max-width: 600px;
  padding: 30px;

  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;

  background-color: #27327F;
  border-radius: 5px;

  label {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;

    color: #EBE9DB;
    font-weight: 700;

    input, select, textarea {
      padding: 5px 10px;
      background-color: #EBE9DB;
      border: none;
      border-radius: 5px;

      color: #27327F;
    }

    &.checkbox {
      display: flex;
      align-items: center;

      input {
        margin-left: 10px;
      }
    }
  }

  button {
    margin: auto;

    width: max-content;
    padding: 10px 20px;

    background-color: #4f5ec9;
    color: #EBE9DB;
    border-radius: 5px;

    &:hover {
      background-color: #EBE9DB;
      color: #27327F;
    }
  }
}

@media screen and (max-width: 767px) {
  form {
    padding: 20px;

    label {
      font-size: 14px;

      input, select, textarea {
        font-size: 14px;
      }
    }
  }
}